<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Welcome to the subcoin interface</h1><br>
		<p>If you'd like to add yourself to the blockchain, feel free to click <a href="{{ url_for('registerUser')}}">here</a> </p>
		<p>See a list of users <a href="{{ url_for('users') }}">here</a></p>
		<p>You can also view the list of blocks <a href="{{ url_for('get_chain') }}">here</a></p>
		<br><br><br><br><p style="font-size:30%">TO BE DEVELOPED</p>
	</body>
</html>