<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<p style="font-size:85%"><a href="{{ url_for('index') }}" >Home</a></p>
	</head>
	<body>
		<form action="/new_userHTML" method="post">
			Name:<br>
			<input type="text" name="name"><br>
			Owner (input their name, or if unowned or not a sub, put NA or unowned):<br>
			<input type="text" name="owner"><br>
			Orientation: <br>
			<input type="text" name="orientation"><br>
			What do you identify as? <br>
			<input type="radio" name="identifies_as" value="male" checked> Male<br>
			<input type="radio" name="identifies_as" value="female"> Female<br>
			<input type="radio" name="identifies_as" value="other"> Other<br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>